version: '3.3'

services:

  k6-test:
    image: grafana/k6
    user: root
    volumes:
      - ./:/test
    #command: ["run", "/test/checkChallenge.js"]
    #command: ["run", "--out", "influxdb=http://192.168.1.70:8086/myk6db", "/test/smoke-test.js"]
    #command: ["run", "--out", "influxdb=http://192.168.1.70:8086/myk6db", "/test/stress-test.js"]
    #command: ["run", "--out", "influxdb=http://192.168.1.70:8086/myk6db", "/test/spike-test.js"]
    #command: ["run", "--out", "influxdb=http://192.168.1.70:8086/myk6db", "/test/load-test.js"]
    command: ["run", "--out", "influxdb=http://192.168.1.70:8086/myk6db", "/test/soak-test.js"]

